.filter-radio-group {
  padding: 5px;
  margin: 0 5px;
  display: flex;
  align-items: flex-start;

  flex-direction: row;
  @media screen and (min-width: 850px) {
    flex-direction: column;
  }
}

.filter-radio-group {
  margin: 0 0 1rem;

  @media screen and (min-width: 850px) {
    margin: 0 1rem 1rem;
  }
}
