<div class="flex-container">
  <app-todo-filter [showAll]="showAll$ | async"
                   (changeShowAll)="showAllTodos($event)"
  >
  </app-todo-filter>
  <app-todo-table *ngIf="!!ds$"
                  [ds]="ds$ | async"
                  (editTodo)="onEdit($event)"
                  (completeTodo)="onComplete($event)">
  </app-todo-table>
  <button mat-fab
          color="primary"
          id="add-task-btn"
          class="btn-fab"
          (click)="openAddTodo()"
  >
    <mat-icon>add_task</mat-icon>
  </button>
</div>
