.todo-table {
  width: 100%;

  .mat-column-description {
    width: 80%;

    .description-text {
      display: inline-block;
    }

    button {
      float: left;
    }
  }

  .mat-column-complete {
    width: 20%;
    margin: auto;
    text-align: center;

    mat-icon {
      &.complete {
        color: green;
      }
    }
  }
}
