.todo-table {
  width: 100%;

  .mat-column-description {

    .description-text {
      display: inline-block;
      padding: 1rem;
    }
  }

  .mat-column-complete {
    width: 20%;
    margin: auto;
    text-align: center;

    mat-icon {
      &.complete {
        color: green;
      }
    }
  }

  .table-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0 5px;
    padding: 5px;
    align-content: center;
  }
}
